*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
tGZZB/build/generated/assets/
tGZZB/build/generated/res/
tGZZB/build/generated/source/aidl/
tGZZB/build/generated/source/apt/
tGZZB/build/generated/source/rs/
tGZZB/build/intermediates/assets/
tGZZB/build/intermediates/blame/res/androidTest/
tGZZB/build/intermediates/check-manifest/
tGZZB/build/intermediates/incremental/instantRunDependenciesApkBuilder/
tGZZB/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
tGZZB/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
tGZZB/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
tGZZB/build/intermediates/incremental/mergeDebugResources/aapt-temp/
tGZZB/build/intermediates/incremental/mergeDebugResources/stripped.dir/
tGZZB/build/intermediates/incremental/processDebugAndroidTestResources/
tGZZB/build/intermediates/incremental/processDebugResources/
tGZZB/build/intermediates/prebuild/
tGZZB/build/intermediates/reload-dex/
tGZZB/build/intermediates/res/merged/androidTest/
tGZZB/build/intermediates/rs/
tGZZB/build/intermediates/shaders/
tGZZB/build/intermediates/symbols/androidTest/
tGZZB/build/intermediates/tmp/
tGZZB/build/intermediates/transforms/instantRun/debug/1/
tGZZB/build/tmp/
/.idea/
